* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

h1 {
  --color-one: hsl(210 80% 50%);
  --color-two: hsl(320 100% 75%);
  --stretch-multiplier: 5;
  /* Use em for font size for better scaling */
  font-size: clamp(2rem, 8vw, 8rem);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  display: grid;
  line-height: 1;
  --stretch: 1;
}

/* Stretch when h1 or .stretch-o is hovered/active */
h1:hover,
h1:active,
.stretch-o:hover,
.stretch-o:active {
  --stretch: var(--stretch-multiplier);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;  
}

[aria-hidden] {
  display: flex;
  gap: 0.02em;
  align-items: center;
  color: black;
}

.stretch-o {
  height: 1.2em;
  width: calc(var(--stretch) * 1.2em);
  translate: 0 -0.01em;
  border: 0.25em solid black;
  border-radius: 1em;
  transition: width 0.2s;
  position: relative;
}

.stretch-o:after,
.stretch-o:before {
  content: "";
  border: 0.25em solid var(--color);
  position: absolute;
  inset: -0.25em;
  border-radius: 1em;
  opacity: calc(-1 + var(--stretch));
  transition: opacity 0.2s;
}

.stretch-o:before {
  --color: var(--color-one);
}
.stretch-o:after {
  --color: var(--color-two);
  mask:
    radial-gradient(
      circle at top left,
      black,
      transparent
    );
}

/* Media query for small screens */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  .stretch-o {
    height: 1.5em;
    width: calc(var(--stretch) * 1.2em);
  }
}
